{{extend 'layout.html'}}
<html>
  <head>

  </head>
  <body>
    <!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Тег DIV</title>
 </head>
 <body>

<h1>
Defaulting The iPhone Keyboard To: Number, Email, Url
</h1>

<form>

Type="number":<br />
<input type="text" pattern="\d*"/><br />
<br />

Type="Tel":<br />
<input type="range"/><br />
<br />

Type="Email":<br />
<input type="email" /><br />

</form>

  <div class="block1">Блок 1 :)</div>
  <div class="block2">Ut wisis enim ad minim veniam, quis nostrud
   exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex
   ea commodo consequat.</div>

 </body>

</html>
  </body>
</html>
